Repository AterDev/DevCenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-marketData-api, publish-marketAdmin-web

publish-marketData-api:
  variables:
    PROJECT_PATH: ./src/Http.API/
    PUBLISH_PATH: /var/publish/dev-center-api/
    RUN_PATH: /var/webapi/dev-center/
  stage: build
  script:
  - echo "Start build Http.API"
  - mkdir $PUBLISH_PATH
  - dotnet restore $PROJECT_PATH
  - dotnet build $PROJECT_PATH
  ...

publish-marketAdmin-web:
  variables:
    PROJECT_PATH: ./src/WebApp/Admin
    PUBLISH_PATH: ./src/WebApp/Admin/dist/admin
    RUN_PATH: /var/www/dev-center/
  stage: build
  cache:
    key:
      files:
      - $PROJECT_PATH/yarn.lock
    paths:
    - .npm/
  script:
  - echo "start restore "
  - cd $PROJECT_PATH
  - yarn
  - npm run build --aot
  ...

remove gitlab yml
  .gitlab-ci.yml
Due: none

环境的操作
  src/WebApp/Admin/src/app/pages/environment/add/add.component.html
  src/WebApp/Admin/src/app/pages/environment/add/add.component.ts
  src/WebApp/Admin/src/app/pages/environment/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/environment/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/environment/index/index.component.html
  src/WebApp/Admin/src/app/pages/environment/index/index.component.ts
Due: publish-marketAdmin-web

角色的添加和编辑
  src/Core/Models/Role.cs
  src/Database/EntityFramework.Migrator/Migrations/20220706094151_20220706-174142.Designer.cs
  src/Database/EntityFramework.Migrator/Migrations/20220706094151_20220706-174142.cs
  src/Share/Models/RoleDtos/RoleAddDto.cs
  src/Share/Models/RoleDtos/RoleFilterDto.cs
  src/Share/Models/RoleDtos/RoleItemDto.cs
  src/Share/Models/RoleDtos/RoleShortDto.cs
  src/Share/Models/RoleDtos/RoleUpdateDto.cs
  src/WebApp/Admin/src/app/pages/config-option/index/index.component.html
  src/WebApp/Admin/src/app/pages/resource-attribute-define/index/index.component.html
  src/WebApp/Admin/src/app/pages/resource-attribute/index/index.component.html
  src/WebApp/Admin/src/app/pages/resource-group/index/index.component.html
  src/WebApp/Admin/src/app/pages/resource-tags/index/index.component.html
  src/WebApp/Admin/src/app/pages/resource/index/index.component.html
  src/WebApp/Admin/src/app/pages/role/add/add.component.html
  src/WebApp/Admin/src/app/pages/role/add/add.component.ts
  src/WebApp/Admin/src/app/pages/role/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/role/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/role/index/index.component.html
  src/WebApp/Admin/src/app/pages/role/index/index.component.ts
  src/WebApp/Admin/src/app/pages/user/index/index.component.html
  src/WebApp/Admin/src/app/share/models/role/role-add-dto.model.ts
  src/WebApp/Admin/src/app/share/models/role/role-filter-dto.model.ts
  src/WebApp/Admin/src/app/share/models/role/role-item-dto.model.ts
  src/WebApp/Admin/src/app/share/models/role/role-update-dto.model.ts
  src/WebApp/Admin/src/app/share/models/role/role.model.ts
Due: publish-marketData-api, publish-marketAdmin-web

user 模型初始化
  src/Share/Models/UserDtos/UserAddDto.cs
  src/Share/Models/UserDtos/UserFilterDto.cs
  src/Share/Models/UserDtos/UserItemDto.cs
  src/Share/Models/UserDtos/UserShortDto.cs
  src/Share/Models/UserDtos/UserUpdateDto.cs
  src/WebApp/Admin/src/app/pages/user/add/add.component.html
  src/WebApp/Admin/src/app/pages/user/add/add.component.ts
  src/WebApp/Admin/src/app/pages/user/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/user/index/index.component.html
  src/WebApp/Admin/src/app/pages/user/index/index.component.ts
  src/WebApp/Admin/src/app/pages/user/user-routing.module.ts
  src/WebApp/Admin/src/app/share/models/user/user-add-dto.model.ts
  src/WebApp/Admin/src/app/share/models/user/user-filter-dto.model.ts
  src/WebApp/Admin/src/app/share/models/user/user-item-dto.model.ts
Due: publish-marketData-api, publish-marketAdmin-web

列表样式修改
  src/WebApp/Admin/src/app/pages/config-option/index/index.component.html
  src/WebApp/Admin/src/app/pages/resource-attribute-define/index/index.component.html
  src/WebApp/Admin/src/app/pages/resource-attribute/index/index.component.html
  src/WebApp/Admin/src/app/pages/resource-group/index/index.component.html
  src/WebApp/Admin/src/app/pages/resource-tags/index/index.component.html
  src/WebApp/Admin/src/app/pages/resource/index/index.component.html
  src/WebApp/Admin/src/app/pages/user/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/user/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/user/index/index.component.html
  src/WebApp/Admin/src/app/pages/user/index/index.component.ts
  src/WebApp/Admin/src/styles.css
Due: publish-marketAdmin-web

用户的添加和修改
  src/Database/EntityFramework.Migrator/Migrations/ContextBaseModelSnapshot.cs
  src/Http.API/Controllers/UserController.cs
  src/Http.Application/DataStore/UserDataStore.cs
  src/Share/Models/UserDtos/UserAddDto.cs
  src/Share/Models/UserDtos/UserUpdateDto.cs
  src/WebApp/Admin/src/app/pages/user/add/add.component.html
  src/WebApp/Admin/src/app/pages/user/add/add.component.ts
  src/WebApp/Admin/src/app/pages/user/edit/edit.component.ts
  src/WebApp/Admin/src/app/share/models/user/user-add-dto.model.ts
Due: publish-marketData-api, publish-marketAdmin-web

添加用户时 添加角色
  src/Http.API/Controllers/RestApiBase.cs
  src/Http.API/Controllers/UserController.cs
  src/Http.Application/DataStore/UserDataStore.cs
  src/Share/Models/UserDtos/UserAddDto.cs
  src/Share/Models/UserDtos/UserUpdateDto.cs
  src/WebApp/Admin/src/app/pages/user/add/add.component.html
  src/WebApp/Admin/src/app/pages/user/add/add.component.ts
  src/WebApp/Admin/src/app/pages/user/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/user/edit/edit.component.ts
  src/WebApp/Admin/src/app/share/models/user/user-add-dto.model.ts
  src/WebApp/Admin/src/app/share/models/user/user-update-dto.model.ts
Due: publish-marketData-api, publish-marketAdmin-web

udpate
  src/WebApp/Admin/src/app/components/navigation/navigation.component.css
  src/WebApp/Admin/src/app/components/navigation/navigation.component.html
  src/WebApp/Admin/src/app/pages/admin/admin-routing.module.ts
  src/WebApp/Admin/src/app/pages/role/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/role/index/index.component.html
  src/WebApp/Admin/src/app/pages/role/resource/resource.component.css
  src/WebApp/Admin/src/app/pages/role/resource/resource.component.html
  src/WebApp/Admin/src/app/pages/role/resource/resource.component.spec.ts
  src/WebApp/Admin/src/app/pages/role/resource/resource.component.ts
  src/WebApp/Admin/src/app/pages/role/role-routing.module.ts
  src/WebApp/Admin/src/app/pages/role/role.module.ts
  src/WebApp/Admin/src/app/pages/user/add/add.component.ts
  src/WebApp/Admin/src/app/pages/user/index/index.component.html
  src/WebApp/Admin/src/app/pages/user/index/index.component.ts
  src/WebApp/Admin/src/environments/environment.prod.ts
Due: publish-marketAdmin-web

主页环境颜色展示
  src/Http.Application/DataStore/ResourceGroupDataStore.cs
  src/Share/Models/ResourceGroupDtos/ResourceGroupItemDto.cs
  src/WebApp/Admin/src/app/pages/home/index/index.component.html
  src/WebApp/Admin/src/app/pages/home/index/index.component.ts
  src/WebApp/Admin/src/app/share/models/resource-group/resource-group-item-dto.model.ts
  src/WebApp/Admin/src/index.html
Due: publish-marketData-api, publish-marketAdmin-web

update models
  src/Http.API/Controllers/ResourceGroupController.cs
  src/Http.Application/DataStore/ResourceGroupDataStore.cs
  src/Share/Models/ResourceGroupDtos/ResourceGroupFilterDto.cs
  src/Share/Models/ResourceGroupDtos/ResourceGroupRoleDto.cs
  src/WebApp/Admin/src/app/pages/resource/add/add.component.ts
  src/WebApp/Admin/src/app/pages/resource/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/role/resource/resource.component.html
  src/WebApp/Admin/src/app/pages/role/resource/resource.component.ts
  src/WebApp/Admin/src/app/share/models/resource-group/resource-group-filter-dto.model.ts
  src/WebApp/Admin/src/app/share/models/resource-group/resource-group-role-dto.model.ts
  src/WebApp/Admin/src/app/share/models/resource/resource-select-data-dto.model.ts
  src/WebApp/Admin/src/app/share/models/resource/selection.model.ts
  src/WebApp/Admin/src/app/share/services/base.service.ts
  src/WebApp/Admin/src/app/share/services/resource-group.service.ts
Due: publish-marketData-api, publish-marketAdmin-web

add role resourcegroup select
  src/WebApp/Admin/src/app/pages/role/resource/resource.component.html
  src/WebApp/Admin/src/app/pages/role/resource/resource.component.ts
Due: publish-marketAdmin-web

role resource group
  src/Http.Application/DataStore/ResourceGroupDataStore.cs
  src/Share/Models/ResourceGroupDtos/ResourceGroupRoleDto.cs
  src/WebApp/Admin/src/app/share/services/resource-group.service.ts
Due: publish-marketData-api, publish-marketAdmin-web

管理后台 guard
  src/WebApp/Admin/src/app/auth/auth.guard.ts
  src/WebApp/Admin/src/app/pages/admin/admin-routing.module.ts
Due: publish-marketAdmin-web

分配资源组
  src/Http.API/Controllers/RoleController.cs
  src/Http.Application/DataStore/RoleDataStore.cs
  src/Share/Models/RoleDtos/RoleResourceDto.cs
  src/WebApp/Admin/src/app/auth/login.service.ts
  src/WebApp/Admin/src/app/components/layout/layout.component.html
  src/WebApp/Admin/src/app/pages/role/resource/resource.component.html
  src/WebApp/Admin/src/app/pages/role/resource/resource.component.ts
  src/WebApp/Admin/src/app/share/models/resource-group/resource-group-role-dto.model.ts
  src/WebApp/Admin/src/app/share/models/role/role-resource-dto.model.ts
  src/WebApp/Admin/src/app/share/services/role.service.ts
Due: publish-marketData-api, publish-marketAdmin-web

资源组添加用户角色筛选
  src/Http.API/Controllers/ResourceGroupController.cs
  src/Http.Application/DataStore/ResourceGroupDataStore.cs
  src/Share/Models/ResourceGroupDtos/ResourceGroupFilterDto.cs
  src/WebApp/Admin/src/app/share/services/base.service.ts
Due: publish-marketData-api, publish-marketAdmin-web

密码修改
  src/Http.API/Controllers/UserController.cs
  src/Http.Application/DataStore/ResourceGroupDataStore.cs
  src/Http.Application/DataStore/UserDataStore.cs
  src/Share/Models/UserDtos/UserShortDto.cs
  src/WebApp/Admin/src/app/account/account-routing.module.ts
  src/WebApp/Admin/src/app/account/account.module.ts
  src/WebApp/Admin/src/app/account/index/index.component.css
  src/WebApp/Admin/src/app/account/index/index.component.html
  src/WebApp/Admin/src/app/account/index/index.component.spec.ts
  src/WebApp/Admin/src/app/account/index/index.component.ts
  src/WebApp/Admin/src/app/app-routing.module.ts
  src/WebApp/Admin/src/app/app.module.ts
  src/WebApp/Admin/src/app/components/layout/layout.component.html
  src/WebApp/Admin/src/app/pages/user/edit/edit.component.ts
  src/WebApp/Admin/src/app/share/models/resource-group/resource-group-filter-dto.model.ts
  src/WebApp/Admin/src/app/share/models/user/user-short-dto.model.ts
  src/WebApp/Admin/src/app/share/models/user/user-update-dto.model.ts
  src/WebApp/Admin/src/app/share/services/user.service.ts
Due: publish-marketData-api, publish-marketAdmin-web

add user from gitlab ..
  src/Http.Application/Http.Application.csproj
  src/WebApp/Admin/src/app/account/index/index.component.ts
  test/Http.API.Test/SomeWorks.cs
Due: publish-marketData-api, publish-marketAdmin-web

update publish script
  scripts/publishAPI.ps1
  scripts/publishAdmin.ps1
Due: none

添加主页资源的搜索功能
  src/WebApp/Admin/src/app/pages/home/index/index.component.ts
Due: publish-marketAdmin-web

添加主页搜索功能
  src/Http.API/Controllers/ResourceController.cs
  src/Http.API/Program.cs
  src/Http.Application/DataStore/ResourceDataStore.cs
  src/WebApp/Admin/src/app/components/components.module.ts
  src/WebApp/Admin/src/app/components/layout/layout.component.html
  src/WebApp/Admin/src/app/components/layout/layout.component.ts
  src/WebApp/Admin/src/app/pages/home/login/login.component.ts
  src/WebApp/Admin/src/app/share/models/user/user-update-dto.model.ts
  src/WebApp/Admin/src/app/share/services/resource.service.ts
  src/WebApp/Admin/src/app/share/services/user.service.ts
Due: publish-marketData-api, publish-marketAdmin-web

添加相关类型和标签的展示
  src/Http.Application/DataStore/ResourceTypeDefinitionDataStore.cs
  src/WebApp/Admin/src/app/components/layout/layout.component.ts
  src/WebApp/Admin/src/app/pages/home/index/index.component.html
  src/WebApp/Admin/src/app/pages/home/resource-dialog/resource-dialog.component.html
  src/WebApp/Admin/src/app/pages/resource-type-definition/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/resource-type-definition/index/index.component.html
Due: publish-marketData-api, publish-marketAdmin-web

添加资源列表状态保存
  src/WebApp/Admin/src/app/components/layout/layout.component.css
  src/WebApp/Admin/src/app/components/layout/layout.component.html
  src/WebApp/Admin/src/app/components/layout/layout.component.ts
  src/WebApp/Admin/src/app/custom-route-strategy.ts
  src/WebApp/Admin/src/app/pages/admin/index/index.component.html
  src/WebApp/Admin/src/app/pages/home/index/index.component.html
  src/WebApp/Admin/src/app/pages/home/index/index.component.ts
  src/WebApp/Admin/src/app/pages/resource/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/resource/index/index.component.ts
  src/WebApp/Admin/src/app/pages/resource/resource.module.ts
  src/WebApp/Admin/src/app/share/services/list-state.service.ts
Due: publish-marketAdmin-web

资源组关联环境更新
  src/Http.API/Controllers/ResourceGroupController.cs
  src/Http.Application/DataStore/ResourceGroupDataStore.cs
  src/WebApp/Admin/src/app/pages/resource-group/add/add.component.html
  src/WebApp/Admin/src/app/pages/resource-group/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/resource-group/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/resource/add/add.component.ts
  src/WebApp/Admin/src/app/pages/resource/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/resource/index/index.component.html
Due: publish-marketData-api, publish-marketAdmin-web

pipeline 添加jobs name
  src/Http.Application/Services/Webhook/DingTalkWebhookService.cs
  src/Http.Application/Services/Webhook/GitLabWebhookService.cs
  src/Share/Models/Webhook/GitLab/PipelineInfo.cs
Due: publish-marketData-api

扩展group 字段
  src/Core/Models/Enums.cs
  src/Core/Models/ResourceGroup.cs
  src/Database/EntityFramework.Migrator/Migrations/20220711104710_20220711-184700.Designer.cs
  src/Database/EntityFramework.Migrator/Migrations/20220711104710_20220711-184700.cs
  src/WebApp/Admin/src/app/components/layout/layout.component.html
  src/WebApp/Admin/src/app/pages/home/login/login.component.html
  src/WebApp/Admin/src/app/pages/home/login/login.component.ts
Due: publish-marketData-api, publish-marketAdmin-web

为资源组添加所属导航字段
  src/Core/Models/ResourceGroup.cs
  src/Http.API/Controllers/RestApiBase.cs
  src/Http.Application/DataStore/ResourceGroupDataStore.cs
  src/Share/Models/ResourceGroupDtos/ResourceGroupAddDto.cs
  src/Share/Models/ResourceGroupDtos/ResourceGroupFilterDto.cs
  src/Share/Models/ResourceGroupDtos/ResourceGroupItemDto.cs
  src/Share/Models/ResourceGroupDtos/ResourceGroupRoleDto.cs
  src/Share/Models/ResourceGroupDtos/ResourceGroupUpdateDto.cs
  src/WebApp/Admin/src/app/pages/resource-group/add/add.component.html
  src/WebApp/Admin/src/app/pages/resource-group/add/add.component.ts
  src/WebApp/Admin/src/app/pages/resource-group/detail/detail.component.html
  src/WebApp/Admin/src/app/pages/resource-group/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/resource-group/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/resource-group/index/index.component.html
  src/WebApp/Admin/src/app/pages/resource-group/index/index.component.ts
  src/WebApp/Admin/src/app/share/models/enum/layout-type.model.ts
  src/WebApp/Admin/src/app/share/models/enum/navigation-type.model.ts
  src/WebApp/Admin/src/app/share/models/resource-group/resource-group-add-dto.model.ts
  src/WebApp/Admin/src/app/share/models/resource-group/resource-group-filter-dto.model.ts
  src/WebApp/Admin/src/app/share/models/resource-group/resource-group-item-dto.model.ts
  src/WebApp/Admin/src/app/share/models/resource-group/resource-group-role-dto.model.ts
  src/WebApp/Admin/src/app/share/models/resource-group/resource-group-update-dto.model.ts
  src/WebApp/Admin/src/app/share/models/resource-group/resource-group.model.ts
  src/WebApp/Admin/src/app/share/pipe/enum.pipe.ts
Due: publish-marketData-api, publish-marketAdmin-web

new index layout,website
  src/Http.Application/DataStore/ResourceGroupDataStore.cs
  src/WebApp/Admin/src/app/auth/auth.guard.ts
  src/WebApp/Admin/src/app/components/layout/layout.component.css
  src/WebApp/Admin/src/app/components/layout/layout.component.html
  src/WebApp/Admin/src/app/pages/home/home-routing.module.ts
  src/WebApp/Admin/src/app/pages/home/home.module.ts
  src/WebApp/Admin/src/app/pages/home/index/index.component.css
  src/WebApp/Admin/src/app/pages/home/index/index.component.html
  src/WebApp/Admin/src/app/pages/home/index/index.component.ts
  src/WebApp/Admin/src/app/pages/home/resource/resource.component.css
  src/WebApp/Admin/src/app/pages/home/resource/resource.component.html
  src/WebApp/Admin/src/app/pages/home/resource/resource.component.spec.ts
  src/WebApp/Admin/src/app/pages/home/resource/resource.component.ts
  src/WebApp/Admin/src/app/pages/home/server/server.component.css
  src/WebApp/Admin/src/app/pages/home/server/server.component.html
  src/WebApp/Admin/src/app/pages/home/server/server.component.spec.ts
  src/WebApp/Admin/src/app/pages/home/server/server.component.ts
  src/WebApp/Admin/src/styles.css
Due: publish-marketData-api, publish-marketAdmin-web

update
  src/WebApp/Admin/src/app/pages/home/index/index.component.html
Due: publish-marketAdmin-web

主页布局优化
  src/WebApp/Admin/src/app/pages/home/index/index.component.css
  src/WebApp/Admin/src/app/pages/home/index/index.component.html
  src/WebApp/Admin/src/app/pages/home/index/index.component.ts
  src/WebApp/Admin/src/styles.css
Due: publish-marketAdmin-web

服务器的table展示
  src/Http.Application/DataStore/ResourceGroupDataStore.cs
  src/WebApp/Admin/src/app/pages/home/index/index.component.html
  src/WebApp/Admin/src/app/pages/home/index/index.component.ts
  src/WebApp/Admin/src/app/pages/home/resource/resource.component.html
  src/WebApp/Admin/src/app/pages/home/server/server.component.css
  src/WebApp/Admin/src/app/pages/home/server/server.component.html
  src/WebApp/Admin/src/app/pages/home/server/server.component.ts
  src/WebApp/Admin/src/app/pages/resource-group/add/add.component.html
  src/WebApp/Admin/src/app/pages/resource-group/add/add.component.ts
  src/WebApp/Admin/src/app/pages/resource-group/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/resource-group/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/resource-group/index/index.component.html
  src/WebApp/Admin/src/app/pages/resource-group/index/index.component.ts
  src/WebApp/Admin/src/app/share/pipe/cut-string.pipe.ts
  src/WebApp/Admin/src/app/share/pipe/enum.pipe.ts
  src/WebApp/Admin/src/app/share/share.module.ts
Due: publish-marketData-api, publish-marketAdmin-web

服务器展示 页面
  src/WebApp/Admin/src/app/pages/home/server/server.component.css
  src/WebApp/Admin/src/app/pages/home/server/server.component.html
  src/WebApp/Admin/src/app/pages/home/server/server.component.ts
Due: publish-marketAdmin-web

add resource page
  src/WebApp/Admin/src/app/pages/home/index/index.component.html
  src/WebApp/Admin/src/app/pages/home/resource/resource.component.ts
Due: publish-marketAdmin-web

环境排序及展示优化
  scripts/publishAdmin.ps1
  src/Http.Application/DataStore/ResourceGroupDataStore.cs
  src/WebApp/Admin/src/app/components/layout/layout.component.html
  src/WebApp/Admin/src/app/pages/home/home-routing.module.ts
  src/WebApp/Admin/src/app/pages/home/index/index.component.html
  src/WebApp/Admin/src/app/pages/home/index/index.component.ts
  src/WebApp/Admin/src/app/pages/home/login/login.component.html
  src/WebApp/Admin/src/app/pages/home/login/login.component.ts
  src/WebApp/Admin/src/app/pages/home/resource/resource.component.css
  src/WebApp/Admin/src/app/pages/home/resource/resource.component.html
  src/WebApp/Admin/src/app/pages/home/resource/resource.component.ts
  src/WebApp/Admin/src/app/pages/resource-group/index/index.component.html
  src/WebApp/Admin/src/app/pages/resource-group/index/index.component.ts
  src/WebApp/Admin/src/app/pages/user/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/user/edit/edit.component.ts
Due: publish-marketData-api, publish-marketAdmin-web

update
  src/Http.API/Controllers/RestApiBase.cs
  src/Http.Application/DataStore/DataStoreContext.cs
  src/Http.Application/DataStore/DataStoreExtensions.cs
Due: publish-marketData-api

修改获取搜索用的资源 时机
  src/Http.API/Controllers/ConfigOptionController.cs
  src/Http.API/Controllers/DocumentController.cs
  src/Http.API/Controllers/RestApiBase.cs
  src/WebApp/Admin/src/app/components/layout/layout.component.ts
Due: publish-marketData-api, publish-marketAdmin-web

rename navigation
  src/WebApp/Admin/src/app/components/layout/layout.component.html
Due: publish-marketAdmin-web

代理整理
  .editorconfig
  src/Core/Const/Enums.cs
  src/Core/Entities/CodeFolder.cs
  src/Core/Entities/CodeSnippet.cs
  src/Core/Entities/ConfigOption.cs
  src/Core/Entities/DocFolder.cs
  src/Core/Entities/Document.cs
  src/Core/Entities/Enums.cs
  src/Core/Entities/Environment.cs
  src/Core/Entities/Permission.cs
  src/Core/Entities/Resource.cs
  src/Core/Entities/ResourceAttribute.cs
  src/Core/Entities/ResourceAttributeDefine.cs
  src/Core/Entities/ResourceGroup.cs
  src/Core/Entities/ResourceTags.cs
  src/Core/Entities/ResourceTypeDefinition.cs
  src/Core/Entities/ResourceView.cs
  src/Core/Entities/Role.cs
  src/Core/Entities/RolePermission.cs
  src/Core/Entities/User.cs
  src/Core/GlobalUsings.cs
  src/Core/Models/EntityBase.cs
  src/Core/Models/Enums.cs
  src/Database/EntityFramework.Migrator/Migrations/20220630071351_20220630-151343.cs
  src/Database/EntityFramework.Migrator/Migrations/20220701103128_20220701-183117.cs
  src/Database/EntityFramework.Migrator/Migrations/20220705100155_20220705-180150.cs
  src/Database/EntityFramework.Migrator/Migrations/20220706094151_20220706-174142.cs
  src/Database/EntityFramework.Migrator/Migrations/20220711104710_20220711-184700.cs
  src/Http.Application/Config.cs
  src/Http.Application/Services/Webhook/DingTalkWebhookService.cs
  src/Share/Models/ConfigOptionDtos/ConfigOptionShortDto.cs
  src/Share/Models/ResourceAttributeDefineDtos/ResourceAttributeDefineShortDto.cs
  src/Share/Models/ResourceAttributeDtos/ResourceAttributeAddDto.cs
  src/Share/Models/ResourceAttributeDtos/ResourceAttributeShortDto.cs
  src/Share/Models/Selection.cs
  src/Share/Models/Webhook/DingTalk/MessageBase.cs
  src/Share/Models/Webhook/ErrorLoggingRequest.cs
  src/Share/Options/WehookOptions.cs
  test/Http.API.Test/SomeWorks.cs
Due: publish-marketData-api

remove TFilter in queryDb
  src/Database/EntityFramework/CommandDbContext.cs
  src/Database/EntityFramework/ContextBase.cs
  src/Database/EntityFramework/QueryDbContext.cs
  src/Http.API/Controllers/ConfigOptionController.cs
  src/Http.API/Controllers/DocumentController.cs
  src/Http.API/Controllers/RestApiBase.cs
  src/Http.API/Program.cs
  src/Http.Application/DataStore/CodeFolderDataStore.cs
  src/Http.Application/DataStore/CodeSnippetDataStore.cs
  src/Http.Application/DataStore/ConfigOptionDataStore.cs
  src/Http.Application/DataStore/DataStoreContext.cs
  src/Http.Application/DataStore/DocFolderDataStore.cs
  src/Http.Application/DataStore/DocumentDataStore.cs
  src/Http.Application/DataStore/EnvironmentDataStore.cs
  src/Http.Application/DataStore/PermissionDataStore.cs
  src/Http.Application/DataStore/ResourceAttributeDataStore.cs
  src/Http.Application/DataStore/ResourceAttributeDefineDataStore.cs
  src/Http.Application/DataStore/ResourceDataStore.cs
  src/Http.Application/DataStore/ResourceGroupDataStore.cs
  src/Http.Application/DataStore/ResourceTagsDataStore.cs
  src/Http.Application/DataStore/ResourceTypeDefinitionDataStore.cs
  src/Http.Application/DataStore/RoleDataStore.cs
  src/Http.Application/DataStore/RolePermissionDataStore.cs
  src/Http.Application/DataStore/UserCommandDataStore.cs
  src/Http.Application/DataStore/UserDataStore.cs
  src/Http.Application/DataStore/UserQueryDataStore.cs
  src/Http.Application/GlobalUsings.cs
  src/Http.Application/Implement/DataStoreBase.cs
  src/Http.Application/Implement/DataStoreCommandBase.cs
  src/Http.Application/Implement/DataStoreContext.cs
  src/Http.Application/Implement/DataStoreExtensions.cs
  src/Http.Application/Implement/DataStoreQueryBase.cs
  src/Http.Application/Interface/IDataStoreQuery.cs
  src/Http.Application/Interface/IDataStoreQueryExt.cs
  src/Http.Application/Interface/IDomainManager.cs
  src/Http.Application/Manager/DomainManagerBase.cs
  src/Http.Application/Manager/UserManager.cs
Due: publish-marketData-api

try domain manager
  src/Http.API/Controllers/UserController.cs
  src/Http.API/Program.cs
  src/Http.Application/DataStore/UserCommandDataStore.cs
  src/Http.Application/DataStore/UserQueryDataStore.cs
  src/Http.Application/Implement/DataStoreCommandBase.cs
  src/Http.Application/Implement/DataStoreContext.cs
  src/Http.Application/Implement/DataStoreQueryBase.cs
  src/Http.Application/Implement/StoreServicesExtensions.cs
  src/Http.Application/Interface/IDomainManager.cs
  src/Http.Application/Manager/DomainManagerBase.cs
  src/Http.Application/Manager/UserManager.cs
Due: publish-marketData-api

Path conditions:
  publish-marketData-api: any of: src/Http.API/**/*, src/Core/**/*, src/Http.Application/**/*, src/Share/**/*
  publish-marketAdmin-web: any of: src/WebApp/Admin/**/*
