Repository AterDev/DevCenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-marketData-api, publish-marketAdmin-web

.gitlab-ci.yml:

stages:    
  - build

publish-marketData-api: 
  variables:
    PROJECT_PATH: "./src/Http.API/"
    PUBLISH_PATH: "/var/publish/dev-center-api/"
    RUN_PATH: "/var/webapi/dev-center/"
  stage: build
  rules: 
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev"'
      changes:
        - src/Http.API/**/*
        - src/Core/**/*
        - src/Http.Application/**/*
        - src/Share/**/*
      when: always
  script:
    - echo "Start build Http.API"
    - mkdir $PUBLISH_PATH
    - dotnet restore $PROJECT_PATH
    - dotnet build $PROJECT_PATH
    - dotnet publish $PROJECT_PATH -c Release -o $PUBLISH_PATH
    - echo "Publish to dev from $PUBLISH_PATH to $RUN_PATH"
    - cd $PUBLISH_PATH
    - "scp -r  ./* root@36.138.195.139 :$RUN_PATH"
    - echo "Restart service"
    - "ssh root@36.138.195.139  sudo systemctl restart dev-center.service"


publish-marketAdmin-web:
  variables:
    PROJECT_PATH: "./src/WebApp/Admin"
    PUBLISH_PATH: "./src/WebApp/Admin/dist/admin"
    RUN_PATH: '/var/www/dev-center/'
  stage: build
  cache:
    key:
      files:
        - $PROJECT_PATH/yarn.lock
    paths:
      - .npm/
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev"'
      changes:
        - src/WebApp/Admin/**/*
      when: always
  script:
    - echo "start restore "
    - cd $PROJECT_PATH
    - yarn 
    - npm run build --aot
    - echo "Publish to dev from $PUBLISH_PATH to $RUN_PATH"
    - "scp -r  ./dist/admin/* root@36.138.195.139 :$RUN_PATH"
    - echo "Publish complete!"

update blog
  src/Core/Entities/Blog/Blog.cs
  src/Share/Models/BlogDtos/BlogAddDto.cs
  src/Share/Models/BlogDtos/BlogFilterDto.cs
  src/Share/Models/BlogDtos/BlogItemDto.cs
  src/Share/Models/BlogDtos/BlogShortDto.cs
  src/Share/Models/BlogDtos/BlogUpdateDto.cs
  src/WebApp/Admin/src/app/pages/blog-catalog/add/add.component.html
  src/WebApp/Admin/src/app/pages/blog-catalog/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/blog/add/add.component.html
  src/WebApp/Admin/src/app/pages/blog/add/add.component.ts
  src/WebApp/Admin/src/app/pages/blog/blog.module.ts
  src/WebApp/Admin/src/app/pages/blog/detail/detail.component.html
  src/WebApp/Admin/src/app/pages/blog/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/blog/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/blog/index/index.component.html
Due: publish-marketData-api, publish-marketAdmin-web

codesnippet list
  src/Database/EntityFramework.Migrator/Migrations/20220802155601_20220802-235556.Designer.cs
  src/Database/EntityFramework.Migrator/Migrations/20220802155601_20220802-235556.cs
  src/WebApp/Admin/src/app/pages/blog-catalog/add/add.component.html
  src/WebApp/Admin/src/app/pages/blog-catalog/add/add.component.ts
  src/WebApp/Admin/src/app/pages/blog-catalog/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/blog-catalog/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/blog/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/code-library/add/add.component.html
  src/WebApp/Admin/src/app/pages/code-library/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/code-library/index/index.component.html
  src/WebApp/Admin/src/app/pages/code-snippet/code-snippet.module.ts
  src/WebApp/Admin/src/app/pages/code-snippet/index/index.component.html
  src/WebApp/Admin/src/app/pages/code-snippet/index/index.component.ts
  src/WebApp/Admin/src/app/pages/resource/index/index.component.ts
Due: publish-marketAdmin-web

use ckeditor
  src/Http.API/Controllers/ResourceAttributeDefineController.cs
  src/Http.API/Controllers/ResourceController.cs
  src/Http.API/Controllers/ResourceGroupController.cs
  src/Http.API/Controllers/ResourceTypeDefinitionController.cs
  src/WebApp/Admin/src/app/pages/code-snippet/detail/detail.component.html
  src/WebApp/Admin/src/app/pages/code-snippet/detail/detail.component.ts
Due: publish-marketData-api, publish-marketAdmin-web

添加monaco
  src/WebApp/Admin/angular.json
  src/WebApp/Admin/package-lock.json
  src/WebApp/Admin/package.json
  src/WebApp/Admin/src/app/pages/code-snippet/add/add.component.html
  src/WebApp/Admin/src/app/pages/code-snippet/add/add.component.ts
  src/WebApp/Admin/src/app/pages/code-snippet/code-snippet.module.ts
  src/WebApp/Admin/yarn.lock
Due: publish-marketAdmin-web

code snippet edit
  src/WebApp/Admin/src/app/pages/code-snippet/add/add.component.ts
  src/WebApp/Admin/src/app/pages/code-snippet/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/code-snippet/edit/edit.component.ts
Due: publish-marketAdmin-web

update
  src/WebApp/Admin/src/app/pages/code-snippet/edit/edit.component.ts
Due: publish-marketAdmin-web

upate
  src/WebApp/Admin/src/app/pages/code-snippet/detail/detail.component.html
  src/WebApp/Admin/src/app/pages/code-snippet/detail/detail.component.ts
Due: publish-marketAdmin-web

update
  src/WebApp/Admin/src/app/pages/blog-catalog/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/code-snippet/detail/detail.component.css
  src/WebApp/Admin/src/app/pages/code-snippet/detail/detail.component.html
  src/WebApp/Admin/src/app/pages/code-snippet/detail/detail.component.ts
  src/WebApp/Admin/src/app/pages/code-snippet/edit/edit.component.html
Due: publish-marketAdmin-web

save
  src/WebApp/Admin/src/app/pages/blog-catalog/edit/edit.component.ts
Due: publish-marketAdmin-web

update entitybase
  src/Core/Models/EntityBase.cs
  src/Core/Utils/Extensions.cs
  src/Database/EntityFramework.Migrator/Migrations/20220805140559_20220805-220552.Designer.cs
  src/Database/EntityFramework.Migrator/Migrations/20220805140559_20220805-220552.cs
  src/Http.Application/Implement/DataStoreBase.cs
  src/Http.Application/Implement/DomainManagerBase.cs
  src/WebApp/Admin/src/app/pages/blog-catalog/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/code-library/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/code-snippet/detail/detail.component.css
  src/WebApp/Admin/src/app/pages/code-snippet/detail/detail.component.html
Due: publish-marketData-api, publish-marketAdmin-web

重构resource 相关 实现
  src/Http.API/Controllers/EnvironmentController.cs
  src/Http.API/Controllers/OldResourceController.cs
  src/Http.API/Controllers/ResourceController.cs
  src/Http.API/Controllers/ResourceGroupController.cs
  src/Http.API/Controllers/ResourceTagsController.cs
  src/Http.API/GlobalUsings.cs
  src/Http.Application/CommandStore/EnvironmentCommandStore.cs
  src/Http.Application/CommandStore/ResourceCommandStore.cs
  src/Http.Application/CommandStore/ResourceGroupCommandStore.cs
  src/Http.Application/CommandStore/ResourceTagsCommandStore.cs
  src/Http.Application/Config.cs
  src/Http.Application/DataStore/EnvironmentDataStore.cs
  src/Http.Application/GlobalUsings.cs
  src/Http.Application/IManager/IEnvironmentManager.cs
  src/Http.Application/IManager/IResourceGroupManager.cs
  src/Http.Application/IManager/IResourceManager.cs
  src/Http.Application/IManager/IResourceTagsManager.cs
  src/Http.Application/Implement/CommandStoreBase.cs
  src/Http.Application/Implement/DataStoreContext.cs
  src/Http.Application/Implement/DomainManagerBase.cs
  src/Http.Application/Implement/QueryStoreBase.cs
  src/Http.Application/Implement/StoreServicesExtensions.cs
  src/Http.Application/Interface/IQueryStore.cs
  src/Http.Application/Manager/EnvironmentManager.cs
  src/Http.Application/Manager/ResourceGroupManager.cs
  src/Http.Application/Manager/ResourceManager.cs
  src/Http.Application/Manager/ResourceTagsManager.cs
  src/Http.Application/QueryStore/EnvironmentQueryStore.cs
  src/Http.Application/QueryStore/ResourceGroupQueryStore.cs
  src/Http.Application/QueryStore/ResourceQueryStore.cs
  src/Http.Application/QueryStore/ResourceTagsQueryStore.cs
  src/Http.Application/Services/Webhook/DingTalkWebhookService.cs
Due: publish-marketData-api

修改删除实现
  src/Http.API/Controllers/AuthController.cs
  src/Http.API/Controllers/BlogCatalogController.cs
  src/Http.API/Controllers/BlogController.cs
  src/Http.API/Controllers/BlogTagController.cs
  src/Http.API/Controllers/CodeLibraryController.cs
  src/Http.API/Controllers/CodeSnippetController.cs
  src/Http.API/Controllers/CommentController.cs
  src/Http.API/Controllers/EnvironmentController.cs
  src/Http.API/Controllers/ResourceAttributeDefineController.cs
  src/Http.API/Controllers/ResourceController.cs
  src/Http.API/Controllers/ResourceGroupController.cs
  src/Http.API/Controllers/ResourceTagsController.cs
  src/Http.API/Controllers/ResourceTypeDefinitionController.cs
  src/Http.API/Controllers/RoleController.cs
  src/Http.API/Controllers/UserController.cs
  src/Http.Application/CommandStore/ResourceTypeDefinitionCommandStore.cs
  src/Http.Application/CommandStore/RoleCommandStore.cs
  src/Http.Application/DataStore/EnvironmentDataStore.cs
  src/Http.Application/DataStore/ResourceGroupDataStore.cs
  src/Http.Application/DataStore/ResourceTagsDataStore.cs
  src/Http.Application/DataStore/ResourceTypeDefinitionDataStore.cs
  src/Http.Application/DataStore/RoleDataStore.cs
  src/Http.Application/DataStore/UserDataStore.cs
  src/Http.Application/IManager/IResourceTypeDefinitionManager.cs
  src/Http.Application/IManager/IRoleManager.cs
  src/Http.Application/Implement/CommandStoreBase.cs
  src/Http.Application/Implement/DataStoreContext.cs
  src/Http.Application/Implement/DomainManagerBase.cs
  src/Http.Application/Implement/StoreServicesExtensions.cs
  src/Http.Application/Interface/ICommandStore.cs
  src/Http.Application/Interface/IDomainManager.cs
  src/Http.Application/Manager/ResourceManager.cs
  src/Http.Application/Manager/ResourceTypeDefinitionManager.cs
  src/Http.Application/Manager/RoleManager.cs
  src/Http.Application/QueryStore/ResourceTypeDefinitionQueryStore.cs
  src/Http.Application/QueryStore/RoleQueryStore.cs
  test/Http.API.Test/DatastoreTests/UserRoleTest.cs
Due: publish-marketData-api

接口更新
  src/WebApp/Admin/src/app/pages/resource/index/index.component.ts
  src/WebApp/Admin/src/app/share/models/blog-catalog/blog-catalog.model.ts
  src/WebApp/Admin/src/app/share/models/blog/blog-add-dto.model.ts
  src/WebApp/Admin/src/app/share/models/blog/blog-update-dto.model.ts
  src/WebApp/Admin/src/app/share/models/entity-base.model.ts
  src/WebApp/Admin/src/app/share/models/old-resource/page-list-of-resource-item-dto.model.ts
  src/WebApp/Admin/src/app/share/models/old-resource/resource-add-dto.model.ts
  src/WebApp/Admin/src/app/share/models/old-resource/resource-attribute-add-dto.model.ts
  src/WebApp/Admin/src/app/share/models/old-resource/resource-filter-dto.model.ts
  src/WebApp/Admin/src/app/share/models/old-resource/resource-item-dto.model.ts
  src/WebApp/Admin/src/app/share/models/old-resource/resource-select-data-dto.model.ts
  src/WebApp/Admin/src/app/share/models/old-resource/resource-update-dto.model.ts
  src/WebApp/Admin/src/app/share/models/old-resource/resource.model.ts
  src/WebApp/Admin/src/app/share/models/old-resource/selection.model.ts
  src/WebApp/Admin/src/app/share/models/resource-attribute/resource-attribute.model.ts
  src/WebApp/Admin/src/app/share/models/resource-group/resource-group-item-dto.model.ts
  src/WebApp/Admin/src/app/share/models/resource-group/resource-group.model.ts
  src/WebApp/Admin/src/app/share/models/resource-tags/resource-tags.model.ts
  src/WebApp/Admin/src/app/share/models/resource-type-definition/resource-type-definition.model.ts
  src/WebApp/Admin/src/app/share/services/environment.service.ts
  src/WebApp/Admin/src/app/share/services/old-resource.service.ts
  src/WebApp/Admin/src/app/share/services/resource-group.service.ts
  src/WebApp/Admin/src/app/share/services/resource-tags.service.ts
  src/WebApp/Admin/src/app/share/services/resource-type-definition.service.ts
  src/WebApp/Admin/src/app/share/services/resource.service.ts
  src/WebApp/Admin/src/app/share/services/role.service.ts
Due: publish-marketAdmin-web

修复User 和Resource的添加
  src/Http.API/Controllers/ResourceController.cs
  src/Http.API/Controllers/UserController.cs
  src/Http.Application/IManager/IUserManager.cs
  src/Http.Application/Implement/CommandStoreBase.cs
  src/Http.Application/Implement/DomainManagerBase.cs
  src/Http.Application/Interface/IDomainManager.cs
  src/Http.Application/Manager/ResourceManager.cs
  src/Http.Application/Manager/RoleManager.cs
  src/Http.Application/Manager/UserManager.cs
Due: publish-marketData-api

update web
  src/Http.API/Controllers/ResourceGroupController.cs
  src/Http.API/Controllers/ResourceTypeDefinitionController.cs
  src/Http.API/GlobalUsings.cs
  src/Http.Application/Implement/DomainManagerBase.cs
  src/Http.Application/Manager/ResourceManager.cs
  src/Http.Application/Manager/ResourceTypeDefinitionManager.cs
  src/WebApp/Admin/src/app/pages/home/index/index.component.ts
  src/WebApp/Admin/src/app/pages/home/resource/resource.component.ts
Due: publish-marketData-api, publish-marketAdmin-web

删除无用内容
  src/Http.API/Controllers/ConfigOptionController.cs
  src/Http.API/Controllers/OldResourceController.cs
  src/Http.API/Controllers/PermissionController.cs
  src/Http.API/Controllers/ResourceAttributeController.cs
  src/Http.API/Controllers/RolePermissionController.cs
  src/Http.API/GlobalUsings.cs
  src/Http.API/Program.cs
  src/Http.Application/DataStore/ConfigOptionDataStore.cs
  src/Http.Application/DataStore/PermissionDataStore.cs
  src/Http.Application/DataStore/ResourceAttributeDataStore.cs
  src/Http.Application/DataStore/ResourceDataStore.cs
  src/Http.Application/DataStore/RolePermissionDataStore.cs
  src/Http.Application/Http.Application.csproj
  src/Http.Application/Implement/StoreServicesExtensions.cs
Due: publish-marketData-api

soft delete queryu
  src/Core/Models/EntityBase.cs
  src/Http.API/Controllers/UserController.cs
  src/Http.Application/Implement/QueryStoreBase.cs
Due: publish-marketData-api

用户角色筛选
  src/Http.Application/Manager/UserManager.cs
  src/Share/Models/UserDtos/UserFilterDto.cs
  src/WebApp/Admin/src/app/pages/user/index/index.component.html
  src/WebApp/Admin/src/app/pages/user/index/index.component.ts
  src/WebApp/Admin/src/app/share/models/resource-group/resource-group-item-dto.model.ts
  src/WebApp/Admin/src/app/share/models/resource-group/resource-group.model.ts
  src/WebApp/Admin/src/app/share/models/resource-tags/resource-tags.model.ts
  src/WebApp/Admin/src/app/share/models/resource-type-definition/resource-type-definition.model.ts
  src/WebApp/Admin/src/app/share/models/resource/resource-add-dto.model.ts
  src/WebApp/Admin/src/app/share/models/resource/resource-attribute-add-dto.model.ts
  src/WebApp/Admin/src/app/share/models/resource/resource-update-dto.model.ts
  src/WebApp/Admin/src/app/share/models/role-permission.model.ts
  src/WebApp/Admin/src/app/share/models/user/user-filter-dto.model.ts
  src/WebApp/Admin/src/app/share/services/list-state.service.ts
Due: publish-marketData-api, publish-marketAdmin-web

update
  .droplet-config.json
  src/Database/EntityFramework.Migrator/EntityFramework.Migrator.csproj
  src/Database/EntityFramework/EntityFramework.csproj
  src/Http.API/Http.API.csproj
  src/Http.API/appsettings.json
  src/Http.Application/Http.Application.csproj
  src/Http.Application/Manager/ResourceGroupManager.cs
  test/Http.API.Test/Http.API.Test.csproj
Due: publish-marketData-api

修复资源删除
  src/Http.API/Controllers/ResourceController.cs
  src/Http.Application/Manager/ResourceManager.cs
Due: publish-marketData-api

查询 时过滤掉软删除内容
  src/Http.API/Controllers/ResourceController.cs
  src/Http.Application/Implement/DomainManagerBase.cs
  src/Http.Application/Interface/IDomainManager.cs
  src/Http.Application/Manager/ResourceGroupManager.cs
  src/Http.Application/Manager/ResourceManager.cs
Due: publish-marketData-api

使用文档补充
  README.md
Due: none

add docker support
  scripts/dockerBuild.ps1
  src/Http.API/Dockerfile
  src/Http.API/Http.API.csproj
  src/WebApp/Admin/Dockerfile
  src/WebApp/Admin/nginx.config
Due: publish-marketData-api, publish-marketAdmin-web

add ng ssr
  src/WebApp/Admin/package-lock.json
  src/WebApp/Admin/yarn.lock
Due: publish-marketAdmin-web

add ng ssr
  src/WebApp/Admin/angular.json
  src/WebApp/Admin/package-lock.json
  src/WebApp/Admin/package.json
  src/WebApp/Admin/server.ts
  src/WebApp/Admin/src/app/app.server.module.ts
  src/WebApp/Admin/src/main.server.ts
  src/WebApp/Admin/tsconfig.server.json
Due: publish-marketAdmin-web

update
  src/WebApp/Admin/package.json
Due: publish-marketAdmin-web

update
  src/WebApp/Admin/angular.json
Due: publish-marketAdmin-web

auth login
  src/Http.API/Controllers/AuthController.cs
Due: publish-marketData-api

处理scheduled 情况
  src/Http.Application/Services/Webhook/GitLabWebhookService.cs
  src/Share/Models/Webhook/GitLab/PipelineInfo.cs
Due: publish-marketData-api

update
  DevCenter.sln
Due: none

流水线过滤筛选
  src/Http.Application/Services/Webhook/GitLabWebhookService.cs
Due: publish-marketData-api

update
  scripts/publishAdmin.ps1
  src/WebApp/Admin/src/environments/environment.prod.ts
Due: publish-marketAdmin-web

update to net7
  src/Core/Core.csproj
  src/Database/EntityFramework.Migrator/EntityFramework.Migrator.csproj
  src/Database/EntityFramework/EntityFramework.csproj
  src/Http.API/Http.API.csproj
  src/Http.Application/GlobalUsings.cs
  src/Http.Application/Http.Application.csproj
  src/Http.Application/Implement/CommandStoreBase.cs
  src/Http.Application/Interface/ICommandStoreExt.cs
  src/Share/Share.csproj
  test/Http.API.Test/Http.API.Test.csproj
Due: publish-marketData-api

fix ng config error
  src/Http.API/ClientApp/Dockerfile
  src/Http.API/ClientApp/angular.json
  src/Http.API/ClientApp/package-lock.json
  src/Http.API/ClientApp/package.json
  src/Http.API/ClientApp/server.ts
  src/Http.API/ClientApp/tsconfig.server.json
Due: publish-marketData-api

improve migrations
  .config/dotnet-tools.json
  .editorconfig
  DevCenter.sln
  scripts/EFMigrations.ps1
  src/Database/EntityFramework.Migrator/EntityFramework.Migrator.csproj
  src/Database/EntityFramework.Migrator/GlobalUsings.cs
  src/Database/EntityFramework.Migrator/MigrationContext.ps1
  src/Database/EntityFramework.Migrator/Migrations/20220630071351_20220630-151343.Designer.cs
  src/Database/EntityFramework.Migrator/Migrations/20220630071351_20220630-151343.cs
  src/Database/EntityFramework.Migrator/Migrations/20220701103128_20220701-183117.Designer.cs
  src/Database/EntityFramework.Migrator/Migrations/20220701103128_20220701-183117.cs
  src/Database/EntityFramework.Migrator/Migrations/20220705100155_20220705-180150.Designer.cs
  src/Database/EntityFramework.Migrator/Migrations/20220705100155_20220705-180150.cs
  src/Database/EntityFramework.Migrator/Migrations/20220706094151_20220706-174142.cs
  src/Database/EntityFramework.Migrator/Migrations/20220711104710_20220711-184700.Designer.cs
  src/Database/EntityFramework.Migrator/Migrations/20220711104710_20220711-184700.cs
  src/Database/EntityFramework.Migrator/Migrations/20220801135916_20220801-215909.Designer.cs
  src/Database/EntityFramework.Migrator/Migrations/20220801135916_20220801-215909.cs
  src/Database/EntityFramework.Migrator/Migrations/20220802061131_20220802-141122.Designer.cs
  src/Database/EntityFramework.Migrator/Migrations/20220802061131_20220802-141122.cs
  src/Database/EntityFramework.Migrator/Migrations/20220802155601_20220802-235556.Designer.cs
  src/Database/EntityFramework.Migrator/Migrations/20220802155601_20220802-235556.cs
  src/Database/EntityFramework.Migrator/Migrations/20220805140559_20220805-220552.cs
  src/Database/EntityFramework.Migrator/Migrations/ContextBaseModelSnapshot.cs
  src/Database/EntityFramework.Migrator/Program.cs
  src/Database/EntityFramework.Migrator/Properties/launchSettings.json
  src/Database/EntityFramework.Migrator/UpdateDatabase.ps1
  src/Database/EntityFramework.Migrator/UpdateProductionDatabase.ps1
  src/Database/EntityFramework.Migrator/appsettings.Development.json
  src/Database/EntityFramework.Migrator/appsettings.Production.json
  src/Database/EntityFramework.Migrator/appsettings.json
  src/Http.API/Http.API.csproj
  src/Http.API/Migrations/20230103101808_init.Designer.cs
  src/Http.API/Migrations/20230103101808_init.cs
  src/Http.API/Migrations/CommandDbContextModelSnapshot.cs
  src/Http.API/Program.cs
  src/Http.Application/Http.Application.csproj
  src/Http.Application/Services/InitDataTask.cs
  test/Http.API.Test/Http.API.Test.csproj
Due: publish-marketData-api

update entity
  src/Core/Entities/Blog/BlogTag.cs
  src/Core/Entities/CodeFolder.cs
  src/Core/Entities/ConfigOption.cs
  src/Core/Entities/Document.cs
  src/Core/Entities/Resource/Environment.cs
  src/Core/Entities/Resource/Resource.cs
  src/Core/Entities/Resource/ResourceGroup.cs
  src/Core/Entities/Resource/ResourceTags.cs
  src/Core/Entities/Role.cs
  src/Core/Entities/User.cs
  src/Http.API/Program.cs
  src/Http.Application/Services/InitDataTask.cs
  test/Http.API.Test/DatastoreTests/UserRoleTest.cs
Due: publish-marketData-api

init role
  DevCenter.sln
  docker-compose.dcproj
  docker-compose.override.yml
  docker-compose.yml
  scripts/docker-publish.ps1
  scripts/dockerBuild.ps1
  src/Core/Entities/Resource/ResourceAttribute.cs
  src/Http.API/ClientApp/angular.json
  src/Http.API/ClientApp/src/app/components/navigation/navigation.component.html
  src/Http.API/Controllers/AuthController.cs
  src/Http.API/Dockerfile
  src/Http.API/Http.API.csproj
  src/Http.API/Migrations/20230104021820_init.Designer.cs
  src/Http.API/Migrations/20230104021820_init.cs
  src/Http.API/Program.cs
  src/Http.Application/Services/InitDataTask.cs
Due: publish-marketData-api
