Repository AterDev/DevCenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-marketData-api, publish-marketAdmin-web

publish-marketData-api:
  variables:
    PROJECT_PATH: ./src/Http.API/
    PUBLISH_PATH: /var/publish/dev-center-api/
    RUN_PATH: /var/webapi/dev-center/
  stage: build
  script:
  - echo "Start build Http.API"
  - mkdir $PUBLISH_PATH
  - dotnet restore $PROJECT_PATH
  - dotnet build $PROJECT_PATH
  ...

publish-marketAdmin-web:
  variables:
    PROJECT_PATH: ./src/WebApp/Admin
    PUBLISH_PATH: ./src/WebApp/Admin/dist/admin
    RUN_PATH: /var/www/dev-center/
  stage: build
  cache:
    key:
      files:
      - $PROJECT_PATH/yarn.lock
    paths:
    - .npm/
  script:
  - echo "start restore "
  - cd $PROJECT_PATH
  - yarn
  - npm run build --aot
  ...

完善 Manager的实现
  src/Http.Application/Implement/DataStoreCommandBase.cs
  src/Http.Application/Implement/DataStoreContext.cs
  src/Http.Application/Implement/DataStoreQueryBase.cs
  src/Http.Application/Interface/IDataStoreCommand.cs
  src/Http.Application/Interface/IDataStoreQueryExt.cs
  src/Http.Application/Interface/IDomainManager.cs
  src/Http.Application/Manager/DomainManagerBase.cs
  src/Http.Application/Manager/IUserManager.cs
  src/Http.Application/Manager/UserManager.cs
Due: publish-marketData-api

完善CQRS
  src/Http.Application/DataStore/UserCommandDataStore.cs
  src/Http.Application/DataStore/UserQueryDataStore.cs
  src/Http.Application/Implement/DataStoreCommandBase.cs
  src/Http.Application/Implement/DataStoreContext.cs
  src/Http.Application/Implement/DataStoreQueryBase.cs
  src/Http.Application/Interface/IDataStoreCommand.cs
  src/Http.Application/Interface/IDataStoreQuery.cs
  src/Http.Application/Interface/IDomainManager.cs
  src/Http.Application/Manager/DomainManagerBase.cs
  src/Http.Application/Manager/IUserManager.cs
  src/Http.Application/Manager/UserManager.cs
Due: publish-marketData-api

code clean
  src/Http.API/Controllers/RestApiBase.cs
  src/Http.API/Interface/IRestAPI.cs
  src/Http.Application/Implement/DataStoreQueryBase.cs
Due: publish-marketData-api

使用RestController
  src/Core/Models/FilterBase.cs
  src/Http.API/Controllers/UserController.cs
  src/Http.API/GlobalUsings.cs
  src/Http.API/Infrastructure/RestControllerBase.cs
  src/Http.API/Interface/IRestController.cs
  src/Http.Application/Interface/IDomainManager.cs
  src/Http.Application/Manager/DomainManagerBase.cs
  src/WebApp/Admin/src/app/components/layout/layout.component.ts
Due: publish-marketData-api, publish-marketAdmin-web

调试更新操作
  src/Http.API/Controllers/UserController.cs
  src/Http.API/Infrastructure/IRestController.cs
  src/Http.API/Infrastructure/RestControllerBase.cs
  src/Http.Application/Implement/DataStoreCommandBase.cs
  src/Http.Application/Implement/DataStoreQueryBase.cs
  src/Http.Application/Interface/IDataStoreCommand.cs
  src/Http.Application/Interface/IDomainManager.cs
  src/Http.Application/Manager/DomainManagerBase.cs
  src/Http.Application/Manager/IUserManager.cs
  src/Http.Application/Manager/UserManager.cs
Due: publish-marketData-api

rename datastore
  src/Http.Application/Implement/CommandDataStoreBase.cs
  src/Http.Application/Implement/QueryDataStoreBase.cs
  src/Http.Application/Interface/IDataStoreCommand.cs
Due: publish-marketData-api

add store and manager
  src/Core/Models/EntityBase.cs
  src/Http.Application/CommandStore/UserCommandStore.cs
  src/Http.Application/DataStore/CodeFolderDataStore.cs
  src/Http.Application/DataStore/UserCommandDataStore.cs
  src/Http.Application/DataStore/UserQueryDataStore.cs
  src/Http.Application/GlobalUsings.cs
  src/Http.Application/IManager/IUserManager.cs
  src/Http.Application/Implement/CommandStoreBase.cs
  src/Http.Application/Implement/DataStoreBase.cs
  src/Http.Application/Implement/DataStoreContext.cs
  src/Http.Application/Implement/QueryStoreBase.cs
  src/Http.Application/Implement/StoreServicesExtensions.cs
  src/Http.Application/Implement/UserContext.cs
  src/Http.Application/Interface/ICommandStore.cs
  src/Http.Application/Interface/ICommandStoreExt.cs
  src/Http.Application/Interface/IQueryStore.cs
  src/Http.Application/Interface/IQueryStoreExt.cs
  src/Http.Application/Interface/IUserContext.cs
  src/Http.Application/Manager/UserManager.cs
  src/Http.Application/QueryStore/UserQueryStore.cs
  src/Share/Models/FilterBase.cs
  src/Share/Models/PageList.cs
  src/Share/Models/PageResult.cs
Due: publish-marketData-api

use query and command store
  src/Core/Models/EntityBase.cs
  src/Http.Application/Http.Application.csproj
  src/Http.Application/Implement/CommandStoreBase.cs
  src/Http.Application/Implement/DataStoreContext.cs
  src/Http.Application/Implement/QueryStoreBase.cs
  src/Http.Application/Implement/StoreServicesExtensions.cs
  src/Http.Application/Interface/IDataStoreCommand.cs
  src/Http.Application/Interface/IDataStoreCommandExt.cs
  src/Http.Application/Interface/IDataStoreQuery.cs
  src/Http.Application/Interface/IDataStoreQueryExt.cs
Due: publish-marketData-api

部分命名及结构修改
  src/Core/Entities/User.cs
  src/Core/Models/EntityBase.cs
  src/Http.API/Controllers/UserController.cs
  src/Http.API/Infrastructure/IRestController.cs
  src/Http.API/Infrastructure/RestControllerBase.cs
  src/Http.Application/CommandStore/UserCommandStore.cs
  src/Http.Application/DataStore/UserCommandDataStore.cs
  src/Http.Application/DataStore/UserQueryDataStore.cs
  src/Http.Application/GlobalUsings.cs
  src/Http.Application/IManager/IUserManager.cs
  src/Http.Application/Implement/CommandStoreBase.cs
  src/Http.Application/Implement/DataStoreContext.cs
  src/Http.Application/Implement/DomainManagerBase.cs
  src/Http.Application/Implement/QueryStoreBase.cs
  src/Http.Application/Implement/StoreServicesExtensions.cs
  src/Http.Application/Implement/UserContext.cs
  src/Http.Application/Interface/ICommandStore.cs
  src/Http.Application/Interface/ICommandStoreExt.cs
  src/Http.Application/Interface/IQueryStore.cs
  src/Http.Application/Interface/IQueryStoreExt.cs
  src/Http.Application/Manager/DomainManagerBase.cs
  src/Http.Application/Manager/UserManager.cs
  src/Http.Application/QueryStore/UserQueryStore.cs
  src/Share/Models/FilterBase.cs
  src/Share/Models/PageList.cs
Due: publish-marketData-api

fix usings
  src/Http.Application/DataStore/ResourceTagsDataStore.cs
  src/Http.Application/GlobalUsings.cs
  src/Http.Application/Implement/CommandStoreBase.cs
  src/Http.Application/Implement/DataStoreContext.cs
  src/Http.Application/Interface/IUserContext.cs
  src/Http.Application/Manager/UserManager.cs
  src/Http.Application/Services/FileService.cs
  src/Http.Application/Services/InitDataTask.cs
  src/Http.Application/Services/JwtService.cs
  src/Http.Application/Services/RedisService.cs
  src/Http.Application/Services/Webhook/DingTalkWebhookService.cs
Due: publish-marketData-api

update using
  src/Http.Application/GlobalUsings.cs
Due: publish-marketData-api

属性定义manager
  scripts/SyncRequestService.ps1
  src/Core/Models/EntityBase.cs
  src/Http.API/Controllers/ResourceAttributeDefineController.cs
  src/Http.API/GlobalUsings.cs
  src/Http.API/Infrastructure/IRestController.cs
  src/Http.API/Infrastructure/RestControllerBase.cs
  src/Http.API/Program.cs
  src/Http.Application/CommandStore/ResourceAttributeDefineCommandStore.cs
  src/Http.Application/IManager/IResourceAttributeDefineManager.cs
  src/Http.Application/Implement/DataStoreContext.cs
  src/Http.Application/Implement/StoreServicesExtensions.cs
  src/Http.Application/Manager/ResourceAttributeDefineManager.cs
  src/Http.Application/QueryStore/ResourceAttributeDefineQueryStore.cs
  src/Share/Models/ResourceAttributeDefineDtos/ResourceAttributeDefineAddDto.cs
  src/Share/Models/ResourceAttributeDefineDtos/ResourceAttributeDefineUpdateDto.cs
Due: publish-marketData-api

调试 分页筛选
  src/Core/Models/EntityBase.cs
  src/Http.API/Controllers/ResourceAttributeDefineController.cs
  src/Http.API/Controllers/UserController.cs
  src/Http.Application/IManager/IResourceAttributeDefineManager.cs
  src/Http.Application/IManager/IUserManager.cs
  src/Http.Application/Implement/DomainManagerBase.cs
  src/Http.Application/Implement/QueryStoreBase.cs
  src/Http.Application/Interface/IDomainManager.cs
  src/Http.Application/Interface/IQueryStore.cs
  src/Http.Application/Interface/IQueryStoreExt.cs
  src/Http.Application/Manager/ResourceAttributeDefineManager.cs
  src/Http.Application/Manager/UserManager.cs
  src/WebApp/Admin/src/app/pages/resource-attribute-define/add/add.component.ts
Due: publish-marketData-api, publish-marketAdmin-web

code clean
  src/Http.Application/Implement/DomainManagerBase.cs
  src/Http.Application/Interface/IDomainManager.cs
  src/Http.Application/Manager/UserManager.cs
Due: publish-marketData-api

改进站点图标的展示
  src/WebApp/Admin/src/app/pages/home/index/index.component.ts
  src/WebApp/Admin/src/app/pages/home/resource/resource.component.ts
Due: publish-marketAdmin-web

publish
  scripts/publishAPI.ps1
Due: none

server show group name
  src/WebApp/Admin/src/app/pages/home/server/server.component.html
  src/WebApp/Admin/src/app/pages/home/server/server.component.ts
Due: publish-marketAdmin-web

update code
  src/Http.API/Controllers/ToolsController.cs
  src/Http.API/Infrastructure/RestControllerBase.cs
  src/Share/Services/GitLabCIGenerator.cs
  src/WebApp/Admin/src/app/pages/home/home.module.ts
  src/WebApp/Admin/src/app/pages/home/index/index.component.html
  src/WebApp/Admin/src/app/pages/home/index/index.component.ts
  src/WebApp/Admin/src/app/pages/home/resource.service.ts
  src/WebApp/Admin/src/app/pages/home/resource/resource.component.html
  src/WebApp/Admin/src/app/pages/home/resource/resource.component.ts
  src/WebApp/Admin/src/app/share/models/entity-base.model.ts
  src/WebApp/Admin/src/app/share/models/enum/job-type.model.ts
  src/WebApp/Admin/src/app/share/models/tools/sshoption.model.ts
  src/WebApp/Admin/src/app/share/services/tools.service.ts
Due: publish-marketData-api, publish-marketAdmin-web

update nuget
  src/Http.Application/Http.Application.csproj
Due: publish-marketData-api

添加gitlab ci yml 脚本生成界面
  src/Share/Services/GitLabCIGenerator.cs
  src/WebApp/Admin/src/app/app.module.ts
  src/WebApp/Admin/src/app/pages/home/resource/resource.component.ts
  src/WebApp/Admin/src/app/pages/tool/generate-ci/generate-ci.component.css
  src/WebApp/Admin/src/app/pages/tool/generate-ci/generate-ci.component.html
  src/WebApp/Admin/src/app/pages/tool/generate-ci/generate-ci.component.spec.ts
  src/WebApp/Admin/src/app/pages/tool/generate-ci/generate-ci.component.ts
  src/WebApp/Admin/src/app/pages/tool/tool-routing.module.ts
  src/WebApp/Admin/src/app/pages/tool/tool.module.ts
Due: publish-marketData-api, publish-marketAdmin-web

处理手动pipeline
  src/Http.Application/Services/Webhook/GitLabWebhookService.cs
  src/Share/Services/GitLabCIGenerator.cs
Due: publish-marketData-api

添加实体
  src/Core/Entities/Blog/Blog.cs
  src/Core/Entities/Blog/BlogCatalog.cs
  src/Core/Entities/Blog/BlogTag.cs
  src/Core/Entities/Blog/Comment.cs
  src/Core/Entities/Code/CodeLibrary.cs
  src/Core/Entities/Code/CodeSnippet.cs
  src/Core/Entities/CodeFolder.cs
  src/Core/Entities/CodeSnippet.cs
  src/Core/Entities/Resource/Environment.cs
  src/Core/Entities/Resource/Resource.cs
  src/Core/Entities/Resource/ResourceAttribute.cs
  src/Core/Entities/Resource/ResourceAttributeDefine.cs
  src/Core/Entities/Resource/ResourceGroup.cs
  src/Core/Entities/Resource/ResourceTags.cs
  src/Core/Entities/Resource/ResourceTypeDefinition.cs
  src/Core/Entities/Resource/ResourceView.cs
  src/Core/Entities/Role.cs
  src/Core/Entities/User.cs
Due: publish-marketData-api

部分命名空间引用重构
  .editorconfig
  src/Database/EntityFramework/ContextBase.cs
  src/Http.API/Controllers/CodeSnippetController.cs
  src/Http.API/Controllers/EnvironmentController.cs
  src/Http.API/Controllers/ResourceAttributeController.cs
  src/Http.API/Controllers/ResourceAttributeDefineController.cs
  src/Http.API/Controllers/ResourceController.cs
  src/Http.API/Controllers/ResourceGroupController.cs
  src/Http.API/Controllers/ResourceTagsController.cs
  src/Http.API/Controllers/ResourceTypeDefinitionController.cs
  src/Http.API/GlobalUsings.cs
  src/Http.Application/CommandStore/ResourceAttributeDefineCommandStore.cs
  src/Http.Application/Config.cs
  src/Http.Application/DataStore/CodeSnippetDataStore.cs
  src/Http.Application/DataStore/EnvironmentDataStore.cs
  src/Http.Application/DataStore/ResourceAttributeDataStore.cs
  src/Http.Application/DataStore/ResourceAttributeDefineDataStore.cs
  src/Http.Application/DataStore/ResourceDataStore.cs
  src/Http.Application/DataStore/ResourceGroupDataStore.cs
  src/Http.Application/DataStore/ResourceTagsDataStore.cs
  src/Http.Application/DataStore/ResourceTypeDefinitionDataStore.cs
  src/Http.Application/GlobalUsings.cs
  src/Http.Application/IManager/IResourceAttributeDefineManager.cs
  src/Http.Application/Implement/DataStoreContext.cs
  src/Http.Application/Manager/ResourceAttributeDefineManager.cs
  src/Http.Application/QueryStore/ResourceAttributeDefineQueryStore.cs
  src/Share/Models/ResourceAttributeDtos/ResourceAttributeShortDto.cs
  src/Share/Models/ResourceDtos/ResourceShortDto.cs
  src/Share/Models/ResourceGroupDtos/ResourceGroupItemDto.cs
  src/Share/Models/ResourceGroupDtos/ResourceGroupRoleDto.cs
  src/Share/Models/ResourceGroupDtos/ResourceGroupShortDto.cs
  src/WebApp/Admin/src/app/components/layout/layout.component.html
  src/WebApp/Admin/src/app/pages/home/resource/resource.component.html
Due: publish-marketData-api, publish-marketAdmin-web

删除暂时无用的实体实现
  src/Http.API/Controllers/CodeFolderController.cs
  src/Http.API/Controllers/CodeSnippetController.cs
  src/Http.API/Controllers/DocFolderController.cs
  src/Http.API/Controllers/DocumentController.cs
  src/Http.API/Controllers/ResourceTypeDefinitionController.cs
  src/Http.Application/DataStore/CodeFolderDataStore.cs
  src/Http.Application/DataStore/CodeSnippetDataStore.cs
  src/Http.Application/DataStore/DocFolderDataStore.cs
  src/Http.Application/DataStore/DocumentDataStore.cs
  src/Http.Application/DataStore/ResourceAttributeDefineDataStore.cs
  src/Http.Application/Implement/StoreServicesExtensions.cs
  src/Share/Models/CodeFolderDtos/CodeFolderAddDto.cs
  src/Share/Models/CodeFolderDtos/CodeFolderFilterDto.cs
  src/Share/Models/CodeFolderDtos/CodeFolderItemDto.cs
  src/Share/Models/CodeFolderDtos/CodeFolderShortDto.cs
  src/Share/Models/CodeFolderDtos/CodeFolderUpdateDto.cs
  src/Share/Models/CodeSnippetDtos/CodeSnippetAddDto.cs
  src/Share/Models/CodeSnippetDtos/CodeSnippetFilterDto.cs
  src/Share/Models/CodeSnippetDtos/CodeSnippetItemDto.cs
  src/Share/Models/CodeSnippetDtos/CodeSnippetShortDto.cs
  src/Share/Models/CodeSnippetDtos/CodeSnippetUpdateDto.cs
  src/Share/Models/DocFolderDtos/DocFolderAddDto.cs
  src/Share/Models/DocFolderDtos/DocFolderFilterDto.cs
  src/Share/Models/DocFolderDtos/DocFolderItemDto.cs
  src/Share/Models/DocFolderDtos/DocFolderShortDto.cs
  src/Share/Models/DocFolderDtos/DocFolderUpdateDto.cs
  src/Share/Models/DocumentDtos/DocumentAddDto.cs
  src/Share/Models/DocumentDtos/DocumentFilterDto.cs
  src/Share/Models/DocumentDtos/DocumentItemDto.cs
  src/Share/Models/DocumentDtos/DocumentShortDto.cs
  src/Share/Models/DocumentDtos/DocumentUpdateDto.cs
Due: publish-marketData-api

添加blog
  src/Core/Entities/Code/CodeSnippet.cs
  src/Core/Entities/User.cs
  src/Http.API/Controllers/BlogControllers.cs
  src/Http.API/GlobalUsings.cs
  src/Http.Application/CommandStore/BlogCommandStore.cs
  src/Http.Application/GlobalUsings.cs
  src/Http.Application/IManager/IBlogManager.cs
  src/Http.Application/Implement/DataStoreContext.cs
  src/Http.Application/Implement/StoreServicesExtensions.cs
  src/Http.Application/Manager/BlogManager.cs
  src/Http.Application/QueryStore/BlogQueryStore.cs
  src/Share/GlobalUsings.cs
  src/Share/Models/BlogDtos/BlogAddDto.cs
  src/Share/Models/BlogDtos/BlogFilterDto.cs
  src/Share/Models/BlogDtos/BlogItemDto.cs
  src/Share/Models/BlogDtos/BlogShortDto.cs
  src/Share/Models/BlogDtos/BlogUpdateDto.cs
Due: publish-marketData-api

添加服务资源 按资源组筛选
  src/Http.API/Controllers/BlogCatalogController.cs
  src/Http.API/Controllers/BlogController.cs
  src/Http.API/Controllers/BlogTagController.cs
  src/Http.API/Controllers/CodeLibraryController.cs
  src/Http.API/Controllers/CodeSnippetController.cs
  src/Http.API/Controllers/CommentController.cs
  src/WebApp/Admin/src/app/pages/home/server/server.component.html
  src/WebApp/Admin/src/app/pages/home/server/server.component.ts
Due: publish-marketData-api, publish-marketAdmin-web

后台添加知识库导航
  src/WebApp/Admin/src/app/components/navigation/navigation.component.css
  src/WebApp/Admin/src/app/components/navigation/navigation.component.html
  src/WebApp/Admin/src/app/pages/home/server/server.component.html
  src/WebApp/Admin/src/app/pages/home/server/server.component.ts
Due: publish-marketAdmin-web

update ci yml
  src/Share/Services/GitLabCIGenerator.cs
Due: publish-marketData-api

update ci yml generate
  src/Share/Services/GitLabCIGenerator.cs
Due: publish-marketData-api

udpate
  src/Share/Services/GitLabCIGenerator.cs
Due: publish-marketData-api

comment ckedit
  src/Http.API/Controllers/BlogCatalogController.cs
  src/Http.API/Controllers/BlogController.cs
  src/Http.API/Controllers/BlogTagController.cs
  src/Http.API/Controllers/CodeLibraryController.cs
  src/Http.API/Controllers/CodeSnippetController.cs
  src/Http.API/Controllers/CommentController.cs
  src/WebApp/Admin/src/app/pages/code-snippet/add/add.component.html
  src/WebApp/Admin/src/app/pages/code-snippet/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/code-snippet/index/index.component.ts
  src/WebApp/Admin/src/app/share/services/blog-catalog.service.ts
  src/WebApp/Admin/src/app/share/services/blog-tag.service.ts
  src/WebApp/Admin/src/app/share/services/blog.service.ts
  src/WebApp/Admin/src/app/share/services/code-library.service.ts
  src/WebApp/Admin/src/app/share/services/code-snippet.service.ts
  src/WebApp/Admin/src/app/share/services/comment.service.ts
Due: publish-marketData-api, publish-marketAdmin-web

udpate database models
  src/Database/EntityFramework.Migrator/Migrations/20220801135916_20220801-215909.Designer.cs
  src/Database/EntityFramework.Migrator/Migrations/20220801135916_20220801-215909.cs
  src/WebApp/Admin/src/app/components/layout/layout.component.ts
  src/WebApp/Admin/src/app/components/navigation/navigation.component.html
Due: publish-marketAdmin-web

update ci yml template
  src/Share/Models/CodeSnippetDtos/CodeSnippetAddDto.cs
  src/Share/Services/GitLabCIGenerator.cs
Due: publish-marketData-api

code library的添加
  src/Core/Entities/Code/CodeLibrary.cs
  src/Database/EntityFramework.Migrator/Migrations/20220802061131_20220802-141122.Designer.cs
  src/Database/EntityFramework.Migrator/Migrations/20220802061131_20220802-141122.cs
  src/Http.API/Controllers/CodeLibraryController.cs
  src/Http.Application/Implement/UserContext.cs
  src/Http.Application/Interface/IUserContext.cs
  src/Http.Application/Manager/CodeLibraryManager.cs
  src/Share/Models/CodeLibraryDtos/CodeLibraryAddDto.cs
  src/Share/Models/CodeLibraryDtos/CodeLibraryFilterDto.cs
  src/Share/Models/CodeLibraryDtos/CodeLibraryItemDto.cs
  src/Share/Models/CodeLibraryDtos/CodeLibraryShortDto.cs
  src/Share/Models/CodeLibraryDtos/CodeLibraryUpdateDto.cs
  src/WebApp/Admin/src/app/pages/code-library/add/add.component.html
  src/WebApp/Admin/src/app/pages/code-library/add/add.component.ts
  src/WebApp/Admin/src/app/pages/code-library/detail/detail.component.html
  src/WebApp/Admin/src/app/pages/code-library/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/home/index/index.component.ts
  src/WebApp/Admin/src/app/share/models/code-library/code-library-add-dto.model.ts
  src/WebApp/Admin/src/app/share/models/code-library/code-library-filter-dto.model.ts
  src/WebApp/Admin/src/app/share/models/code-library/code-library-item-dto.model.ts
  src/WebApp/Admin/src/app/share/models/code-library/code-library-update-dto.model.ts
  src/WebApp/Admin/src/app/share/models/code-library/code-library.model.ts
  src/WebApp/Admin/src/app/share/models/enum/library-type.model.ts
  src/WebApp/Admin/src/app/share/models/tools/sshoption.model.ts
Due: publish-marketData-api, publish-marketAdmin-web

add and updazte snippet
  src/Core/Entities/Blog/BlogCatalog.cs
  src/Http.API/Controllers/CodeSnippetController.cs
  src/Share/Models/CodeSnippetDtos/CodeSnippetAddDto.cs
  src/Share/Models/CodeSnippetDtos/CodeSnippetItemDto.cs
  src/Share/Models/CodeSnippetDtos/CodeSnippetUpdateDto.cs
  src/WebApp/Admin/src/app/pages/admin/admin.module.ts
  src/WebApp/Admin/src/app/pages/code-library/detail/detail.component.html
  src/WebApp/Admin/src/app/pages/code-library/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/code-library/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/code-library/index/index.component.html
  src/WebApp/Admin/src/app/pages/code-library/index/index.component.ts
  src/WebApp/Admin/src/app/pages/code-snippet/add/add.component.html
  src/WebApp/Admin/src/app/pages/code-snippet/add/add.component.ts
  src/WebApp/Admin/src/app/pages/code-snippet/code-snippet.module.ts
  src/WebApp/Admin/src/app/pages/code-snippet/detail/detail.component.html
  src/WebApp/Admin/src/app/pages/code-snippet/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/code-snippet/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/code-snippet/index/index.component.html
  src/WebApp/Admin/src/app/pages/code-snippet/index/index.component.ts
  src/WebApp/Admin/src/app/share/models/code-library/code-library-add-dto.model.ts
  src/WebApp/Admin/src/app/share/models/code-library/code-library-update-dto.model.ts
  src/WebApp/Admin/src/app/share/models/code-snippet/code-snippet-add-dto.model.ts
  src/WebApp/Admin/src/app/share/models/code-snippet/code-snippet-item-dto.model.ts
  src/WebApp/Admin/src/app/share/models/code-snippet/code-snippet-update-dto.model.ts
Due: publish-marketData-api, publish-marketAdmin-web

update
  src/Database/EntityFramework.Migrator/Migrations/ContextBaseModelSnapshot.cs
  src/WebApp/Admin/src/app/pages/blog-catalog/add/add.component.html
  src/WebApp/Admin/src/app/pages/blog-catalog/add/add.component.ts
  src/WebApp/Admin/src/app/pages/blog-catalog/detail/detail.component.html
  src/WebApp/Admin/src/app/pages/blog-catalog/edit/edit.component.html
  src/WebApp/Admin/src/app/pages/blog-catalog/edit/edit.component.ts
  src/WebApp/Admin/src/app/pages/blog-catalog/index/index.component.html
Due: publish-marketAdmin-web

Path conditions:
  publish-marketData-api: any of: src/Http.API/**/*, src/Core/**/*, src/Http.Application/**/*, src/Share/**/*
  publish-marketAdmin-web: any of: src/WebApp/Admin/**/*
